schema_version: 20180708
name: ${functionName}
version: ${version}
runtime: docker
format: http-stream
idle_timeout: ${idleTimeout}
timeout: ${timeout}
triggers:
- name: ${triggerName}
  type: ${triggerType}
  source: ${triggerPath}
