${ functionPackage ? "package $functionPackage;\n\n" : '' }import static java.util.Optional.ofNullable;

public class ${functionClass} {

    public String ${functionMethod}(String input) {
        String name = ofNullable(input).filter(s -> !s.isEmpty()).orElse("world");
        return "Hello, " + name + "!";
    }
}