package ${functionPackage};

import static java.util.Optional.ofNullable;

public class ${functionClass} {

    public String ${functionMethod}(String input) {
        String name = ofNullable(input).orElse("world");
        return "Hello, " + name + "!";
    }
}