${ functionPackage ? "package $functionPackage\n\n" : '' }class ${functionClass} {

    String ${functionMethod}(String input) {
        String name = input ?: 'world'
        "Hello, \$name!"
    }

}